<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-sm rounded-4 mb-4" style="width: 1000px;">
    <h2 class="mb-4 text-center fw-bold"> <i class="bi bi-person-badge-fill"></i> Jogadores</h2>

    <table class="table table-striped table-hover">
      <thead class="table-title">
        <tr>
          <th scope="col"> ID </th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Posição</th>
          <th scope="col">Número da Camisa</th>
          <th scope="col">Clube</th>
          <th scope="col">Seleção</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let j of jogadores()">
          <th scope="row">{{j.id}}</th>
          <td>{{j.name}}</td>
          <td>{{j.age}}</td>
          <td>{{j.position}}</td>
          <td>{{j.number}}</td>
          <td>{{j.club}}</td>
          <td>{{j.selecaoName}}</td> <!-- Exibe o nome da seleção associada ao jogador -->
          <td>
            <div class="d-flex gap-2">
              <button class="btn btn-sm btn-primary me-2" (click)="update(j)"><i class="bi bi-pencil-fill"></i> Editar</button>
            <button class="btn btn-sm btn-danger" (click)="delete(j)"><i class="bi bi-trash-fill"></i> Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
