
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-lg rounded-4 mb-4" style="width: 600px;">
        <h2 class="mb-4 text-center fw-bold"><i class="bi bi-person-fill"></i> Cadastro de Jogador</h2>
        @if (mensagemSucesso()) {
          <div class="alert alert-success">
            <i class="bi bi-check-circle-fill"></i>
              {{ mensagemSucesso() }}
          </div>
        }

        @if (mensagemErro()) {
          <div class="alert alert-danger">
            <i class="bi bi-exclamation-triangle-fill"></i>
              {{ mensagemErro() }}
          </div>
        }

        <form [formGroup]="formGroupJogador">

            <div class="mb-3">
                <label for="inputname" class="form-label"><i class="bi bi-person-fill"></i> Nome</label>
                <input type="text" class="form-control" id="inputname" formControlName="name"
                    placeholder="Digite o nome do jogador">
            </div>

            <div class="row">

            <div class="col-md-6 mb-3">
                <label for="inputposition" class="form-label"><i class="bi bi-geo-alt-fill"></i> Posição</label>
                <select class="form-select" formControlName="position">
                  <option value="">Selecione uma posição</option>
                  <option value="Goleiro">Goleiro</option>
                  <option value="Zagueiro">Zagueiro</option>
                  <option value="Lateral">Lateral</option>
                  <option value="Volante">Volante</option>
                  <option value="Meio-campo">Meio-campo</option>
                  <option value="Atacante">Atacante</option>
</select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="inputage" class="form-label"><i class="bi bi-calendar-event-fill"></i> Idade</label>
                <input type="number" class="form-control" id="inputage" formControlName="age"
                    placeholder="Digite a idade do jogador">
            </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="inputnumber" class="form-label"><i class="bi bi-hash"></i> Número</label>
                <input type="number" class="form-control" id="inputnumber" formControlName="number"
                    placeholder="Digite o número do jogador">
            </div>
            <div class="col-md-8 mb-3">
                <label for="inputclub" class="form-label"><i class="bi bi-shield-fill"></i> Clube</label>
                <input type="text" class="form-control" id="inputclub" formControlName="club"
                    placeholder="Digite o clube do jogador">
            </div>
            </div>

            <div class="mb-3">
                <label for="selecaoId" class="form-label">
                    <i class="bi bi-flag-fill"></i> Seleção
                </label>

                <select class="form-select" formControlName="selecaoId">
                    <option value="">Selecione</option>
                     @for (selecao of selecoes(); track selecao.id) {
                        <option [value]="selecao.id">{{ selecao.name }}</option>
                     }


                </select>
            </div>
            <button *ngIf="!isEditing" type="submit" class="btn custom-btn-player w-100 py-2 text-white" (click)="save()" ><i class="bi bi-save-fill"></i> Salvar</button>
            <button *ngIf="isEditing" type="submit" class="btn btn-warning" (click)="update()" ><i class="bi bi-pencil-fill"></i> Atualizar</button>
        </form>
    </div>
</div>
