<div class="home-container">
<div class="container mt-5">

  <div class="text-center mb-5">
    <h1 class="fw-bold text-white">
      🏆 World Cup Manager
    </h1>

    <p class="lead text-light">
      Bem-vindo ao sistema de gerenciamento da Copa do Mundo
    </p>
  </div>

  <div class="row g-4">

    <div class="col-md-4">
      <a routerLink="/selecoes" class="text-decoration-none text-dark">
      <div class="card shadow-lg text-center h-100 card-clickable"
      >
        <div class="card-body">
          <h2>🏳️</h2>
          <h4>Seleções</h4>
          <p>Gerencie todas as seleções participantes.</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-4">
      <a routerLink="/jogadores" class="text-decoration-none text-dark">
      <div class="card shadow-lg text-center h-100 card-clickable">
        <div class="card-body">
          <h2>👤</h2>
          <h4>Jogadores</h4>
          <p>Cadastre e organize os atletas.</p>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-4">
      <a routerLink="/partidas" class="text-decoration-none text-dark">
      <div class="card shadow-lg text-center h-100 card-clickable">
        <div class="card-body">
          <h2>⚽</h2>
          <h4>Partidas</h4>
          <p>Controle os confrontos e placares.</p>
        </div>
      </div>
      </a>
    </div>

  </div>

</div>
</div>
